@import "tailwindcss";
@import "@/styles/variables.css";
@import "@/styles/themes.css";
@import "@/styles/bases.css";
@import "@/styles/markdown.css";

.safe-bottom {
    padding-bottom: env(safe-area-inset-bottom);
    padding-bottom: constant(safe-area-inset-bottom);
    /* iOS 11.0 */
}

.safe-bottom-extra {
    padding-bottom: calc(2rem + env(safe-area-inset-bottom));
    padding-bottom: calc(2rem + constant(safe-area-inset-bottom));
    /* iOS 11.0 */
}