---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
    <main class="min-h-screen flex flex-col justify-center">
        <h1 class="text-4xl lg:text-7xl text-primary text-center">Error 404</h1>
        <a
            class="text-xl lg:text-2xl text-primary text-center underline hover:cursor-pointer"
            >Back to home</a
        >
    </main>
</Layout>
