---
import Layout from "@/layouts/Layout.astro";
import { getCollection, render } from "astro:content";

const conductCodes = await getCollection(
  "resources",
  (entry: any) => entry.slug === "codigo-de-conducta",
);

const codeOfConduct = conductCodes[0];
if (!codeOfConduct) {
  throw new Error("Código de conducta no encontrado");
}
const { Content } = await render(codeOfConduct);
---

<Layout
  title="Código de Conducta - Open Source UC"
  description="Nuestro compromiso con una comunidad inclusiva y respetuosa."
>
  <main
    class="bg-background text-foreground flex justify-center px-10 py-20 lg:px-20 xl:px-50"
  >
    <section class="markdown-content w-full max-w-3xl md:px-10">
      <Content />
    </section>
  </main>
</Layout>
