---
import Layout from "@/layouts/Layout.astro";
import { getCollection, render } from "astro:content";

const conductCodes = await getCollection(
    "resources",
    (entry: any) => entry.slug === "codigo-de-conducta",
);

const codeOfConduct = conductCodes[0];
if (!codeOfConduct) {
    throw new Error("Código de conducta no encontrado");
}
const { Content } = await render(codeOfConduct);
---

<Layout
    title="Código de Conducta - Open Source UC"
    description="Nuestro compromiso con una comunidad inclusiva y respetuosa."
>
    <main
        class="bg-background flex justify-center px-10 lg:px-20 xl:px-50 text-foreground py-20"
    >
        <section class="max-w-3xl w-full markdown-content md:px-10">
            <Content />
        </section>
    </main>
</Layout>
