---
import Layout from "@/layouts/Layout.astro";
import { getEntry, render } from "astro:content";

const positionsAndCommunity = await getEntry("resources", "cargos-y-comunidad");

if (!positionsAndCommunity) {
  throw new Error("Cargos y comunidad no encontrado");
}

const { Content } = await render(positionsAndCommunity);
---

<Layout
  title="Código de Conducta - Open Source UC"
  description="Nuestro compromiso con una comunidad inclusiva y respetuosa."
>
  <main
    class="bg-background text-foreground flex justify-center px-10 py-20 lg:px-20 xl:px-50"
  >
    <section class="markdown-content w-full max-w-3xl md:px-10">
      <Content />
    </section>
  </main>
</Layout>
